---
import { Icon } from 'astro-icon/components'

import {
  BreadcrumbItemContent,
  type BreadcrumbItem,
} from './ui-new/BreadcrumbItem'

interface Props {
  items: BreadcrumbItem[]
}

const { items } = Astro.props
---

<div class="breadcrumbs text-sm">
  <ul>
    <li>
      <BreadcrumbItemContent item={{ label: 'Home', href: '/' }}>
        <Icon name="lucide:home" class="size-4" /></BreadcrumbItemContent
      >
    </li>
    {
      items.map((item) => {
        return (
          <li>
            <BreadcrumbItemContent item={item}>
              {item.icon && <Icon name={item.icon} class="size-4" />}
            </BreadcrumbItemContent>
          </li>
        )
      })
    }
  </ul>
</div>
