---
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { NAV_LINKS } from '@/consts'
import { GlobalSearchTrigger } from './global-search/GlobalSearchTrigger'
import type { GlobalSearchRecord } from './global-search/types'
import { ThemeSwitcher } from './ui-new/ThemeSwitcher'

interface Props {
  records: GlobalSearchRecord[]
}

const { records } = Astro.props
---

<header
  class="sticky top-0 z-10 bg-base-100/50 backdrop-blur-md dark:bg-none"
  transition:persist
>
  <Container>
    <div class="flex flex-wrap items-center justify-between gap-4 py-4">
      <!-- <Logo />
        <span class="font-bold text-gray-600 dark:text-gray-200">
          {SITE.TITLE}
        </span> -->

      <GlobalSearchTrigger records={records} client:load />
      <div class="flex items-center gap-2 md:gap-4">
        <nav class="hidden items-center gap-4 text-sm sm:gap-6 md:flex">
          {
            NAV_LINKS.map((item) => (
              <Link
                href={item.href}
                class="capitalize text-base-content/60 transition-colors hover:text-base-content/80"
              >
                {item.label}
              </Link>
            ))
          }
        </nav>
        <ThemeSwitcher client:load />
      </div>
    </div>
  </Container>
</header>
